---
import type { PreviewDetails } from '@/types/previewDetails'
import Image from 'astro/components/Image.astro'

interface Props {
  details: PreviewDetails
}

const { illustration, title, type, date, description, user } = Astro.props.details
---

<article
  class='w-full max-w-[24rem] bg-white p-6 rounded-[1.25rem] border-[0.063rem] border-black flex flex-col gap-6 card-shadow'
>
  <Image
    class='w-full h-50 rounded-[0.625rem] object-cover'
    width={279}
    height={200}
    src={illustration}
    alt={title}
  />

  <section class='flex flex-col gap-3'>
    <span class='py-1 px-3 bg-yellow font-extrabold rounded-s rounded-e w-fit'>{type}</span>

    <h2 class='text-sm'>{date}</h2>

    <h1 class='font-extrabold text-2xl'>
      <a href='/' class='duration-200 outline-none hover:text-yellow focus-visible:text-yellow'>
        {title}
      </a>
    </h1>

    <p class='text-base text-grey'>{description}</p>
  </section>

  <section class='flex items-center gap-3'>
    <Image class='rounded-full' width={32} height={32} src={user.avatar} alt={user.title} />
    <h2 class='font-extrabold'>{user.title}</h2>
  </section>
</article>

<style>
  .card-shadow {
    filter: drop-shadow(8px 8px 0px #000000);
  }
</style>
